<br />
<div style="display: flex; width: 100%;">
  <div style="display: flex; text-align: center; margin: 0 auto;">
    <span style="font-size: 12px; color: #808080">Equipe {{sender}}</span>
  </div>
</div>