<div style="
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f1b71c;">
  <h3 style="color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;">AGENDAMENTO CANCELADO</h3>
</div>

<div style="padding: 5% 10% 10% 10%; font-weight: 300;" class="cancellation-container">
  <span>Olá {{user}}</span>
</div>