<div style="padding: 5% 14% 14% 7%; color: #333;">
  <span>Olá <strong>{{user}}</strong>,
    <br>
    <br>
    Anexado neste email, está o boleto no valor de {{value}} que você solicitou no dia {{process_date}}.
    <br>
    <br>
    Vence no dia {{ due_date }}.
  </span>
</div>